body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif; scroll-behavior: smooth;}

body{
	background-image: url("/assets/graphs/csillagos_eg_2.png");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
	/*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
	background-color: rgb(2, 5, 59);
	opacity: .75;
	overflow: -moz-scrollbars-horizontal;
	overflow: -moz-scrollbars-vertical;
	overflow-y: auto;
	overflow-x: hidden;
}

#fejlec {
	height: 18em;	
	width: 100%;
	opacity: 1 !important;		
	background-image:				
	url("/assets/graphs/epuletek_jo.png"),
	url("/assets/graphs/csillagos_eg.png");

	background-position: 
		0 60%,
		10% 80%;

	background-size: 
		3000px, 100%,
		1000px, 80%;		

	animation: 120s huzas infinite linear alternate-reverse;
}

@keyframes huzas{
	100% {
		background-position: 
		-5000px 80%,
		-2400px 10%;
	
	}
}
a{
	font-variant: small-caps;
	margin-right: 20px;
	font-size: 1.2em;
	font-weight: 900;
	margin: 0.3em 0.3em;
	padding-left: 0.3em;
	text-align: left;
}
i{
	margin-left: 0.3em;	
	margin-right: 0.4em;
}

.rounded-pill{
	margin-right: 60px;
}


.progress-bar {
	background-color: #4f2ca0;
}

.progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(224, 117, 198, 0.911) 25%, transparent 25%, transparent 50%, rgba(224, 117, 198, 0.911) 50%, rgba(59, 6, 46, 0.911) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem;
}



h3.small {
	font-variant: small-caps;
	font-size: 2em;
	word-spacing: 0.4em;
	letter-spacing: 0.25rem;
  }

.p_kiemelt{
	text-align: justify;
}

.span_kiemelt{
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	font-size: 1.1em;
}

#D1,#D2,#D3,#D4,#D5{
	color: transparent;
}


#Game, #Game_2, #Game_reg, #GYIK, #Support{	
	height: auto;
	margin: 0 1em;	
	padding: 2em 2em;
	background: transparent;
	text-align: center;
	color: #FFF;
	border: 0.25em solid rgb(71, 26, 129);
	background-color: rgba(37, 9, 65, 0.7);
	border-radius: 1em;
	font-size: 1.1em;
}

#Support{
	margin-top: 5em;
	margin-bottom: 5em;	
	background-image: url(../graphs/tanar_hatter_1.png);
	opacity: 0.8;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	border-radius: 1em;
	border: 0.4em solid rgb(52, 93, 228);
	padding: 0.5em;
	color: #FFF;  
	font-weight: bolder;
	font-size: 1.1em;
	text-align: center;	
	
}



#Team_container, #Team{
	margin: 0 1em;	
	padding: 1em;
	color: #FFF;
	background: transparent;
	border: 0.25em solid rgb(71, 26, 129);
	background-color: rgba(37, 9, 65, 0.7);
	border-radius: 1em;



}

#Team{
	margin: 1em;
	padding: 2em;
	max-height: 30vh;
	height: 30vh;	
	font-size: 1.1em;
}

#start{
	font-size: 1.5em;
	font-family: "Raleway", sans-serif;
}

#Game_2{
	padding: 1.3em;
	font: 0.8em;

}

.form-controll{
	width: 60%;
}


.button{
	padding: 0;
	background-color: transparent;
	color:brown;
	font-size: 1.3em;
	font-weight: bold;
	border: transparent;
}


.spinner-grow{
	color: blueviolet;
	border: none;
}

.button:hover{
	background-color: transparent;
	color: white;
	border: transparent;
	opacity: 1;
}

.button:active{
	background-color: transparent;
	color: white;
	border: transparent;
	opacity: 0.5;
	text-decoration: underline;
}


span.spinner-grow{
	padding: 0;
}

.hengersor_suli {
	background-image: url('../graphs/hengersor_suli.jpg');
  	height: 100%; 
	opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }


/*  -----------------------------------------------------   */


.cardBox {		
	margin: 1% 0 0 1%;
	perspective: 800px;
	transition: all 0.3s ease 0s;
	width: 100%;
  }
  
  .cardBox:hover .card {
	transform: rotateY( 180deg);
  }
  
  .card {
	background: #222;
	cursor: normal;
	height: 300px;
	transform-style: preserve-3d;
	transition: transform 1.4s ease 0s;
	/*width: 100%;*/
	-webkit-animation: forgas 1s 1;
	animation: forgas 1s 1;
  }

  .card.csr, .card.sza{		
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;	
	border-radius: 1em;
	border: 0.4em solid rgb(71, 26, 129);
	padding: 0;
	color: #FFF;  
	font-weight: bolder;
	font-size: 1.5em;
	text-align: right;
	font-variant: small-caps;	
  }
  
  .card.csr{
	background-image: url(../graphs/csr2.png);	
  }

  .card.sza{
	background-image: url(../graphs/csillagos_eg.png);	
  }

  .card.csr p .car.sza p{
	  font-size: 0.9em;
	  font-weight: bold;
  }
    
  
  .card .front {	
	color: white;
	height: 100%;
	padding: 0.8em 0.8em;
	position: absolute;	
	width: 100%;
  }

  .card .front h2{
	  font-size: 1.4em;	  
	  font-weight: bolder;
	  text-shadow: 2px rgb(31, 30, 30);
  }
  
  .card .front strong {
	background: rgb(55, 1, 99);
	border-radius: 100%;
	color: rgb(241, 233, 233);
	font-size: 1.5em;
	line-height: 30px;
	padding: 0 7px 4px 6px;
	position: fixed;
	bottom: 0.25em;
	right: 0.25em;
  }
  
  .card .back {
	transform: rotateY( 180deg);
	backface-visibility: hidden;
	color: white;
	height: 100%;
	position: absolute;
	text-align: center;
	padding: 0.8em 0.6em;
  }
  
  .card .back a {
	position: fixed;
	bottom: 0.9em;
	right: 0.01em;	
	background: transparent;
	color: rgb(255, 255, 255);
	text-decoration: none;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 0.3em;
	border: 2px #4f2ca0 solid;
	border-radius: 3px;
	/*transition: all 0.2s ease 0s;*/
  }
  
  .card .back a:hover {
	background: rgb(177, 132, 250);
	color: #333;
	text-shadow: 0 0 1px #333;
  }
  
  .cardBox:nth-child(1) .card .back {
	background: cornflowerblue;
	background-image: url(../graphs/csr_flipcard_back_1.png);	
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: right;		

  }
  
  .cardBox:nth-child(2) .card .back {
	background: orange;
  }
  
    
  .cardBox:nth-child(2) .card {
	-webkit-animation: forgas 1.5s 1;
	animation: forgas 1.5s 1;
  }
  
    
  @-webkit-keyframes forgas {
	from {
	  transform: rotateY( 180deg);
	}
	to {
	  transform: rotateY( 0deg);
	}
  }
  
  @keyframes forgas {
	from {
	  transform: rotateY( 180deg);
	}
	to {
	  transform: rotateY( 0deg);
	}
  }
 
#sulilink{
	display: block;
	text-align: center;
	margin-top: 0em;
	margin-bottom: 0.5em; 
	padding: 1em 0em;
	border-top: 2px rgb(16, 32, 85) solid;	
	font-size: x-large; 
	font-weight: bolder; 
	text-decoration: underline; 
	color: rgb(16, 32, 85);
	text-shadow: 4px 4px 9px #0e6faf; 
	cursor: pointer;
}

/*  ---------------------------------------------------------  */







/*          ************************************************   */
.accordion {
	font-variant: small-caps;
	font-weight: bold;
	background-color: transparent;
	color: rgb(255, 255, 255);
	cursor: pointer;
	padding: 1em;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 1.1em;
	transition: 80 ms;
  }
  
  .accordion:after {
	content: '\002B';	
	font-weight: bold;
	float: right;
	margin-left: 1.6em;
	margin-right: 0.4em;
  } 
  
  .jelolve, .accordion:hover{
	background-color: #0f091f;
	opacity: 0.9;
	color: #865ef3;	
  }
 
  .jelolve:after {
	content: "\2212";	
  }
  
  .valaszpanel {
	padding: 0 1.3em;
	background-color: transparent;
	font-size: 0.8em;	
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.8s ease-out;
  }
